Repository dolphin-admin/vue-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: update css style
  web/src/layouts/DataTableLayout/index.vue
Due: eslint --fix, prettier --write

fix: logout bug
  web/src/components/BaseHeader/index.vue
  web/src/providers/ReportUserTrafficProvider/index.vue
  web/src/views/User/ChangePassword/index.vue
Due: eslint --fix, prettier --write

chore: update
  web/src/views/SystemTools/Print/index.vue
Due: eslint --fix, prettier --write

feat: :sparkles: notice
  web/src/layouts/BaseLayout/index.vue
  web/src/locales/en_US.json
  web/src/locales/zh_CN.json
Due: eslint --fix, prettier --write

chore: update
  web/src/layouts/BaseLayout/index.vue
  web/src/locales/en_US.json
  web/src/locales/zh_CN.json
  web/src/providers/ReportUserTrafficProvider/index.vue
Due: eslint --fix, prettier --write

chore: upgrade deps
  pnpm-lock.yaml
  server/package.json
Due: none

chore: update config
  .gitignore
  server/tsconfig.json
Due: none

chore: update start scripts with swc to maker it faster
  server/package.json
Due: none

chore: add generate crud api module script
  package.json
  pnpm-lock.yaml
  server/package.json
  server/src/main.ts
Due: eslint --fix, prettier --write

chore: update scripts
  docs/package.json
  package.json
  server/package.json
  web/package.json
Due: none

feat: 新增右击菜单功能
  web/src/components/DClickRight/index.vue
  web/src/components/DClickRight/private/index.ts
  web/src/components/DClickRight/private/types.ts
  web/src/components/DClickRight/private/useContextMenu.ts
  web/src/constants/menu.ts
  web/src/locales/zh_CN.json
  web/src/router/routes.ts
  web/src/types/components.d.ts
  web/src/views/BuiltinComponents/ClickRight/index.vue
Due: eslint --fix, prettier --write

chore: 右击菜单目录修改
  web/src/components/DRightClick/index.vue
  web/src/components/DRightClick/private/index.ts
  web/src/components/DRightClick/private/types.ts
  web/src/components/DRightClick/private/useContextMenu.ts
  web/src/constants/menu.ts
  web/src/locales/zh_CN.json
  web/src/router/routes.ts
  web/src/types/components.d.ts
  web/src/views/BuiltinComponents/RightClick/index.vue
Due: eslint --fix, prettier --write

feat: 目录翻译
  web/src/locales/en_US.json
Due: none

fix: 自动导入文件删除弃用组件
  web/src/types/components.d.ts
Due: eslint --fix, prettier --write

Apply suggestions from code review
  web/src/locales/en_US.json
  web/src/locales/zh_CN.json
  web/src/views/BuiltinComponents/RightClick/index.vue
Due: eslint --fix, prettier --write

feat: 右击菜单兼容暗黑模式
  web/src/components/DRightClick/index.vue
Due: eslint --fix, prettier --write

fix: 右击菜单使用页面menu声明报错问题
  web/src/views/BuiltinComponents/RightClick/index.vue
Due: eslint --fix, prettier --write

fix: conversation
  web/src/components/DRightClick/index.vue
  web/src/components/DRightClick/private/index.ts
  web/src/components/DRightClick/private/types.ts
  web/src/components/DRightClick/private/useContextMenu.ts
  web/src/locales/en_US.json
  web/src/locales/zh_CN.json
  web/src/types/components.d.ts
  web/src/views/BuiltinComponents/Countdown/index.vue
  web/src/views/BuiltinComponents/RightClick/index.vue
Due: eslint --fix, prettier --write

feat: :sparkles: directive
  web/src/constants/menu.ts
  web/src/directive/index.ts
  web/src/directive/permissions/index.ts
  web/src/directive/watermark/index.ts
  web/src/locales/en_US.json
  web/src/locales/zh_CN.json
  web/src/main.ts
  web/src/router/routes.ts
  web/src/types/auto-imports.d.ts
  web/src/utils/index.ts
  web/src/utils/permissions/index.ts
  web/src/views/SystemTools/Watermark/index.vue
Due: eslint --fix, prettier --write

fix: :bug: bug
  web/src/locales/zh_CN.json
Due: none

fix: :bug: bug
  web/src/views/SystemTools/Watermark/index.vue
Due: eslint --fix, prettier --write

chore: update
  package.json
  pnpm-lock.yaml
  server/client/index.html
  server/nest-cli.json
  server/package.json
  server/src/app.controller.ts
  server/src/app.module.ts
  server/src/common/index.ts
  server/src/config/index.ts
  server/src/decorators/index.ts
  server/src/decorators/swagger/api-paginated-response.ts
  server/src/decorators/swagger/index.ts
  server/src/main.ts
  server/src/modules/index.ts
  server/src/modules/upload/dto/file-upload-bulk.dto.ts
  server/src/modules/upload/dto/file-upload.dto.ts
  server/src/modules/upload/dto/index.ts
  server/src/modules/upload/upload.controller.ts
  server/src/modules/upload/upload.service.ts
  server/src/modules/users/dto/create-user.dto.ts
  server/src/modules/users/dto/index.ts
  server/src/modules/users/dto/user.dto.ts
  server/src/modules/users/entities/index.ts
  server/src/modules/users/users.controller.ts
  server/src/modules/users/users.service.ts
  server/src/shared/dto/base-response.dto.ts
  server/src/shared/dto/index.ts
  server/src/shared/dto/paginated.dto.ts
  server/src/shared/index.ts
Due: eslint --fix, prettier --write

chore: update
  web/src/i18n.ts
Due: eslint --fix, prettier --write

build: :package: deploy with GitHub Actions and pm2
  .github/workflows/deploy.yml
  package.json
  pnpm-lock.yaml
  server/src/main.ts
Due: eslint --fix, prettier --write

chore: renew contributors
  CONTRIBUTORS.md
Due: prettier --write

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

build: update deploy script
  .github/workflows/deploy.yml
  bin/deploy.sh
Due: none

chore: update deploy.yml
  .github/workflows/deploy.yml
Due: none

chore: update build script
  .github/workflows/deploy.yml
  bin/deploy.sh
Due: none

chore: update
  .github/workflows/deploy.yml
Due: none

chore: update github action scripts
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/dev-ci.yml
  bin/deploy.sh
Due: none

chore: update github actions yml
  .github/workflows/ci.yml
  .github/workflows/dev-ci.yml
Due: none

chore: update
  .github/workflows/cd.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,vue}
