Repository dolphin-admin/vue-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: :bug: fix
  web/src/components/DVirtualList/index.vue
  web/src/components/DVirtualList/private/index.ts
  web/src/components/DVirtualList/private/types.ts
  web/src/views/BuiltinComponents/VirtualList/index.vue
Due: eslint --fix, prettier --write

fix: bug
  web/src/components/DVirtualList/index.vue
  web/src/components/DVirtualList/private/types.ts
  web/src/utils/auth/index.ts
  web/src/views/BuiltinComponents/RightClick/index.vue
  web/src/views/BuiltinComponents/VirtualList/index.vue
Due: eslint --fix, prettier --write

chore: update
  README.md
Due: prettier --write

chore: update
  .eslintrc.js
Due: eslint --fix, prettier --write

chore: update
  .markdownlint.jsonc
Due: none

chore: update
  .cspell.json
  .github/workflows/ci.yml
  .github/workflows/dev-ci.yml
  .lintstagedrc.json
  .prettierignore
  server/tsconfig.build.json
  server/tsconfig.doc.json
  server/tsconfig.json
  tsconfig.eslint.json
  web/tsconfig.json
Due: none

chore: remove
  .markdownlint.jsonc
  .markdownlintignore
Due: none

chore: update
  package.json
  web/src/assets/main.scss
Due: prettier --write

chore: update
  web/src/layouts/index.ts
Due: eslint --fix, prettier --write

chore: update deps
  .husky/commit-msg
  docs/package.json
  package.json
  pnpm-lock.yaml
  server/package.json
  web/package.json
Due: none

chore: update
  .cspell.json
  .cspell.txt
  .husky/pre-commit
  .lintstagedrc.json
  .nvmrc
  .prettierrc.js
  .prettierrc.json
  docs/netlify.toml
  docs/nuxt.config.ts
  docs/tsconfig.eslint.json
  package.json
  packages/eslint-config/package.json
  packages/eslint-config/src/index.js
  pnpm-lock.yaml
  server/src/custom.logger.ts
  server/tsconfig.eslint.json
  web/auto-imports.d.ts
  web/components.d.ts
  web/env.d.ts
  web/package.json
  web/router.d.ts
  web/shims.d.ts
  web/src/types/auto-imports.d.ts
  web/src/types/components.d.ts
  web/src/views/SystemFunctions/DictionaryData/index.vue
  web/tsconfig.eslint.json
  web/tsconfig.json
  web/vite.config.ts
Due: eslint --fix, prettier --write

chore: update
  .eslintignore
Due: none

chore: update
  .github/workflows/cd.yml
  bin/deploy.sh
Due: none

chore: update
  .github/workflows/cd.yml
  web/src/api/user/auto-imports.d.ts
  web/src/app.config.ts
Due: eslint --fix, prettier --write

chore: update
  .prettierignore
  package.json
  pnpm-lock.yaml
  web/src/components/DCountdown/index.vue
  web/src/components/DNumberAnimation/index.vue
Due: eslint --fix, prettier --write

chore: update
  .github/workflows/cd.yml
  package.json
Due: none

chore: update
  .github/workflows/cd.yml
  packages/eslint-config/src/index.js
Due: eslint --fix, prettier --write

chore: update
  web/auto-imports.d.ts
  web/components.d.ts
Due: eslint --fix, prettier --write

feat: add vue use motion
  README.md
  README.zh-CN.md
  docs/package.json
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
  server/package.json
  web/package.json
  web/public/favicon.ico
  web/src/app.config.ts
  web/src/assets/images/favicon.png
  web/src/layouts/AuthLayout/index.vue
  web/src/main.ts
  web/src/views/Navigation/index.vue
Due: eslint --fix, prettier --write

chore: update
  web/components.d.ts
Due: eslint --fix, prettier --write

refactor: remove dayjs axios auto import
  web/auto-imports.d.ts
  web/src/api/axios/index.ts
  web/src/utils/time/index.ts
  web/src/views/CodeTemplates/ListTemplates/index.vue
  web/src/views/SystemFunctions/DictionaryData/index.vue
  web/src/views/SystemFunctions/DictionaryManagement/index.vue
  web/src/views/SystemFunctions/UserManagement/index.vue
  web/vite.config.ts
Due: eslint --fix, prettier --write

chore: :hammer: update script
  .commitlintrc.js
  .cspell.txt
  package.json
Due: eslint --fix, prettier --write

feat: update desktop app icon
  web/src-tauri/Cargo.lock
  web/src-tauri/Cargo.toml
  web/src-tauri/icons/128x128.png
  web/src-tauri/icons/128x128@2x.png
  web/src-tauri/icons/32x32.png
  web/src-tauri/icons/Square107x107Logo.png
  web/src-tauri/icons/Square142x142Logo.png
  web/src-tauri/icons/Square150x150Logo.png
  web/src-tauri/icons/Square284x284Logo.png
  web/src-tauri/icons/Square30x30Logo.png
  web/src-tauri/icons/Square310x310Logo.png
  web/src-tauri/icons/Square44x44Logo.png
  web/src-tauri/icons/Square71x71Logo.png
  web/src-tauri/icons/Square89x89Logo.png
  web/src-tauri/icons/StoreLogo.png
  web/src-tauri/icons/icon.icns
  web/src-tauri/icons/icon.ico
  web/src-tauri/icons/icon.png
  web/src-tauri/tauri.conf.json
  web/src/components/BaseFooter/index.vue
  web/src/components/BaseHeader/index.vue
  web/src/components/BaseSidebar/index.vue
Due: eslint --fix, prettier --write

chore: update
  web/src-tauri/Cargo.toml
Due: none

chore: update
  web/src-tauri/tauri.conf.json
Due: none

chore: update
  web/index.html
Due: prettier --write

chore: rename to dolphin admin vue
  README.md
  README.zh-CN.md
  package.json
  web/index.html
  web/src/app.config.ts
  web/src/locales/en_US.json
  web/src/locales/zh_CN.json
Due: eslint --fix, prettier --write

refactor: :recycle: assets dir
  web/src/assets/styles/fonts.scss
  web/src/assets/styles/main.scss
  web/src/assets/styles/tailwind.scss
  web/src/main.ts
Due: eslint --fix, prettier --write

refactor: :recycle: update
  .cspell.txt
  web/auto-imports.d.ts
  web/src/app.config.ts
  web/src/components/BaseFooter/index.vue
  web/src/components/BaseHeader/index.vue
  web/src/layouts/AuthLayout/index.vue
  web/src/layouts/BaseLayout/index.vue
  web/src/main.ts
  web/src/providers/ReportUserTrafficProvider/index.vue
  web/src/tools/favicon-loader.ts
  web/src/tools/index.ts
  web/src/tools/mobile-adaptor.ts
  web/src/tools/naive-ui-loader.ts
  web/src/types/app-config.ts
  web/src/types/index.ts
  web/src/views/Navigation/index.vue
  web/vite.config.ts
Due: eslint --fix, prettier --write

refactor: :recycle: app config
  web/src/app.config.ts
  web/src/components/BaseFooter/index.vue
  web/src/components/BaseHeader/index.vue
  web/src/layouts/AuthLayout/index.vue
  web/src/layouts/BaseLayout/index.vue
  web/src/main.ts
  web/src/providers/ReportUserTrafficProvider/index.vue
  web/src/tools/favicon-loader.ts
  web/src/types/app-config.ts
  web/src/types/index.ts
  web/src/views/Navigation/index.vue
Due: eslint --fix, prettier --write

refactor: remove app name i18n
  web/src/components/BaseFooter/index.vue
  web/src/components/BaseGlobalLoading/index.vue
  web/src/components/BaseSidebar/index.vue
  web/src/layouts/AuthLayout/index.vue
  web/src/locales/en_US.json
  web/src/locales/zh_CN.json
  web/src/main.ts
  web/src/utils/site/index.ts
  web/src/views/Navigation/index.vue
Due: eslint --fix, prettier --write

chore: update
  web/src/utils/auth/index.ts
  web/src/views/Auth/Login/index.vue
Due: eslint --fix, prettier --write

refactor: :recycle: extract .d.ts files to /@types
  web/@types/auto-import.d.ts
  web/@types/components.d.ts
  web/@types/env.d.ts
  web/@types/router.d.ts
  web/@types/shims.d.ts
  web/auto-imports.d.ts
  web/components.d.ts
  web/src/i18n/index.ts
  web/tsconfig.eslint.json
  web/tsconfig.json
  web/vite.config.ts
Due: eslint --fix, prettier --write

chore: :hammer: update
  .prettierignore
Due: none

chore: update
  web/@types/auto-import.d.ts
Due: eslint --fix, prettier --write

chore: update
  web/@types/components.d.ts
Due: eslint --fix, prettier --write

chore: update
  web/@types/components.d.ts
  web/src/utils/lang/index.ts
Due: eslint --fix, prettier --write

fix: :bug: echarts resize error
  web/src/charts/BarChart/index.vue
  web/src/charts/LineChart/index.vue
  web/src/charts/PieChart/index.vue
  web/src/charts/index.ts
Due: eslint --fix, prettier --write

refactor: :recycle: extract BaseLayout components
  web/@types/components.d.ts
  web/src/layouts/BaseLayout/components/BaseBreadcrumb/index.vue
  web/src/layouts/BaseLayout/components/BaseFooter/index.vue
  web/src/layouts/BaseLayout/components/BaseHeader/index.vue
  web/src/layouts/BaseLayout/components/BaseHeader/private/constants.ts
  web/src/layouts/BaseLayout/components/BaseHeader/private/index.ts
  web/src/layouts/BaseLayout/components/BaseHeader/private/types.ts
  web/src/layouts/BaseLayout/components/BaseSidebar/index.vue
  web/src/layouts/BaseLayout/components/BaseTabs/index.vue
  web/src/layouts/BaseLayout/components/BaseTabs/private/constants.ts
  web/src/layouts/BaseLayout/components/BaseTabs/private/index.ts
  web/src/layouts/BaseLayout/components/BaseTabs/private/types.ts
  web/src/layouts/BaseLayout/components/index.ts
  web/src/layouts/BaseLayout/index.vue
Due: eslint --fix, prettier --write

chore: update
  .vscode/settings.json
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,vue}
